PORT=3000
SERVICE_MODE=all
NODE_ENV=development
ADMIN_API_BASE_URL=https://bulk-whatsapp-sender-desktopapp.onrender.com
COINS_AUTHORIZE_PATH=/coins/authorize
COINS_REFUND_PATH=/coins/refund
COINS_BALANCE_PATH=/coins/balance
JWT_SECRET=R9oJ3ACwWTcfBUW5f0Ty4rpgopaj_1jT8O3g49U46skbSK-6CHt_knVIC78wE3VYEUQJVcQ99jDamMwzejILIw
JWT_SECRET_ALT=
JWT_EXPIRES_IN=7d
DATABASE_URL=postgresql://whatsapp_db_czfd_user:kjL9PHyN2UpgSj70MfBDztsdhPnuxy8y@dpg-d3gfdc95pdvs73ef6umg-a.singapore-postgres.render.com/whatsapp_db_czfd