PORT=3000
SERVICE_MODE=all
NODE_ENV=production
ADMIN_API_BASE_URL=http://31.97.202.174:3000
COINS_AUTHORIZE_PATH=/coins/authorize
COINS_REFUND_PATH=/coins/refund
COINS_BALANCE_PATH=/coins/balance
COINS_UPDATE_PATH=/coins/update
COINS_REQUEST_PATH=/coins/request
JWT_SECRET=R9oJ3ACwWTcfBUW5f0Ty4rpgopaj_1jT8O3g49U46skbSK-6CHt_knVIC78wE3VYEUQJVcQ99jDamMwzejILIw
JWT_SECRET_ALT=
JWT_EXPIRES_IN=7d
DATABASE_URL=postgresql://postgres:admin@localhost:5433/whatsapp_blast
DB_SSL=false
